##snippet which controls creation of a finder by using a attribute which returns a single result
##when the attribute has property unique=global true is returned
##when the attribute has property dao.finder.single=true true is returned
##otherwise false
##stop if $modelObject is null
#if(!$modelObject)
  $metafactory.error("modelObject not found in context")
#end
##
##stop if $modelAttribute is null
#if(!$modelAttribute)
  $metafactory.error("modelAttribute not found in context")
#end
##
#set($attribute=$modelAttribute)
#set($attributeName=${attribute.name})
#set($attributeType=${attribute.type})
#set($attributeNameFU=${metafactory.firstUpper(${attributeName})})
#set($isUnique=$attribute.hasMetaData("unique", "global"))
#set($daoFinderSingle=$attribute.hasMetaData("dao.finder.single", "true"))
#if($isUnique) true
#elseif($daoFinderSingle) true
#else false #end
