#*
  Produces a empty string or @Future
  and adds the library org.hibernate.validator.Past to the current class.
  This snippet expects to be called in the context of a pattern attribute
*#
##stop if $modelAttribute is null
#if(!$modelAttribute)
  $metafactory.error("modelAttribute not found in context")
#end
#set($attribute=$modelAttribute)
#set($future="")## set to empty string explicitly, otherwise value is not set to null if nothing found
#set($future=$attribute.getMetaData("validator.date.future"))
#if($future == "true")
  #if(${attribute.type}!="Date")
    $metafactory.error("Invalid validator.date.future property found at attribute ${attribute.name}")
  #end
  $metafactory.addLibraryToClass("javax.validation.constraints.Future")##
  @Future
#end
##

