##adds a @NotNull or @NotEmpty annotation
#if(!$modelAttribute)
  $metafactory.error("modelAttribute not found in context")
#end
#set($attribute=$modelAttribute)
#set($required=${attribute.notnull})
#set($type=${attribute.type})
#if($required=="true")
  #if($type=="String" || $type=="text")
    ## You can choose to use the Hibernate annotation NotEmpty for String and text attributes
    ##$metafactory.addLibraryToClass("org.hibernate.validator.constraints.NotEmpty")##
    ##@NotEmpty
    $metafactory.addLibraryToClass("javax.validation.constraints.NotNull")##
    @NotNull
  #else
    $metafactory.addLibraryToClass("javax.validation.constraints.NotNull")##
    @NotNull
  #end
#end
