##stop if $currentModelAttribute is null
#if(!$currentModelAttribute)
  $generator.error("currentModelAttribute not found in context")
#end
#set($attribute=$currentModelAttribute)
#set($attributeName=$attribute.getAttributeValue("name"))
#set($attributeType=$attribute.getAttributeValue("type"))
#set($javaType=$generator.getJavaType($attributeType))
#set($length="")## set to empty string explicitly, otherwise value is not set to null if nothing found
#set($length=$attribute.getAttributeValue("length"))
##see http://jackson.codehaus.org/javadoc/bean-validation-api/1.0/javax/validation/constraints/Size.html
#if($javaType=="String")
    #set($useMin=false)
    #set($useMax=false)
    #if($length && $length != "")
        #set($useMax=true)
    #end
    #set($minValue="")## set to empty string explicitly, otherwise value is not set to null if nothing found
    #set($minValue=$generator.getElementProperty(${attribute}, "minValue"))
    #if($minValue && $minValue != "")
        #set($useMin=true)
    #end
    #if($useMin || $useMax)
        $generator.addLibraryToClass("javax.validation.constraints.Size")##
        #if($useMin && $useMax)
            @Size(min=$minValue,max=${length})
        #elseif($useMin)
            @Size(min=$minValue)
        #elseif($useMax)
            @Size(max=${length})
        #end
    #end
#end