##Create the @Column annotation with all it's possible attributes if applicable
##stop if $modelAttribute is null
#if(!$modelAttribute)
  $metafactory.error("modelAttribute not found in context")
#end
#set($attribute=$modelAttribute)
#set($attributeType=${attribute.type})
#set($length="")## set to empty string explicitly, otherwise value is not set to null if nothing found
#set($length=${attribute.length})
#set($required=${attribute.notnull})
#set($unique=$attribute.hasMetaData("unique", "global"))
#set($immutable=$attribute.hasMetaData("immutable", "true"))
#if($required && $required=="true")
  #set($nullable=false)
#else
  #set($nullable=true)
#end
@Column(name="${attribute.name}"
#if($attributeType=="text")
  ,columnDefinition="TEXT"
#end
#if($unique)
  ,unique=true
#end
#if($immutable)
  ,updatable=false
#end
#if($length && $length != "")
  ,length=$length
#end
,nullable=$nullable
)
