##Create the @Column annotation with all it's possible attributes if applicable
##stop if $currentReference is null
#if(!$modelReference)
  $metafactory.error("modelReference not found in context")
#end
##
#set($reference=$modelReference)
#set($required=${reference.notnull})
#set($immutable=$reference.hasMetaData("immutable", "true"))
#if($required && $required=="true")
  #set($nullable=false)
#else
  #set($nullable=true)
#end
@Column(name="${reference.name}"
#if($immutable)
  ,updatable=false
#end
,nullable=$nullable
)
