##Create the @JoinColumn annotation with all it's possible attributes if applicable
##stop if $modelObject is null
#if(!$modelObject)
  $metafactory.error("modelObject not found in context")
#end
##stop if $modelReference is null
#if(!$modelReference)
  $metafactory.error("modelReference not found in context")
#end
##
#set($reference=$modelReference)
#set($multiplicity=${reference.multiplicity})
#if($multiplicity != "0..1" && $multiplicity != "1..1")
  $metafactory.error("Invalid multiplicity ($multiplicity) found. Only 0..1 and 1..1 is supported by JoinColumn")
#end
#set($modelObjectName=${modelObject.name})
#set($referenceName=${reference.name})
#set($referenceNameAU=$metafactory.allUpper($referenceName))
#set($referenceType=${reference.type})
#set($referenceTypeAL=$metafactory.allLower($referenceType))
#set($referenceTypeAU=$metafactory.allUpper($referenceType))
#set($required=${reference.notnull})
#set($unique=$reference.hasMetaData("unique", "global"))
#set($immutable=$reference.hasMetaData("immutable", "true"))
#if($required && $required=="true")
  #set($nullable=false)
  #if($multiplicity == "0..1")
    $metafactory.error("object=${modelObjectName}. reference=${referenceName}. Inconsistent multiplicity ($!multiplicity) and notnull ($!required) attributes found. If multiplicity is 0..1 notnull must be false.")
  #end
#else
  #set($nullable=true)
  #if($multiplicity == "1..1")
    $metafactory.error("object=${modelObjectName}. reference=${referenceName}. Inconsistent multiplicity ($!multiplicity) and notnull ($!required) attributes found. If multiplicity is 1..1, notnull must be true.")
  #end
#end
@JoinColumn(name="${referenceName}_${referenceTypeAL}_id",referencedColumnName="${referenceTypeAL}_id"
#if($unique)
  ,unique=true
#end
#if($immutable)
  ,updatable=false
#end
,nullable=$nullable
)
